@charset "UTF-8";
*{padding:0;margin:0;box-sizing:border-box;}
a{text-decoration:none;color:inherit;}
img{pointer-events:none;vertical-align:bottom;object-fit:cover;}
h1,h2,h3,h4,#logo{font-family:YuMincho,"Yu Mincho","Hiragino Mincho ProN","serif";}
p,.list-a{font-family:YuGothic,"Yu Gothic medium","Hiragino Sans",Meiryo,"sans-serif";}
h1{font-size:23px;letter-spacing:0.4em;padding-left:0.4em;}
h2{font-size:20px;}
h3{color:#042F82;font-size:20px;}
p{font-size:15px;letter-spacing:0.2em;padding-left:0.2em;line-height:2em;}

/* ヘッダー */
header{width:100vw;height:150px;position:fixed;background-color:#FFFFFF;z-index:1000;}
.header{width:90vw;height:100%;margin:0 auto;display:flex;justify-content:space-between;align-items:center;}
#logo a{color:#042F82;font-size:24px;letter-spacing:0.2em;text-indent:0.2em;}
#logo a:hover{opacity:0.6;}
.hd-ul{display:flex;}
.hd-li{display:block;}
.hd-li + .hd-li {border-left:1px solid #042F82;}
.list-a{align-items:center;display:flex;font-size:15px;height:0;justify-content:center;letter-spacing:0.15em;text-indent:0.15em;margin:10px 20px;width:auto;}
.list-a:hover{color:#0D60B3;transition:0.3s;}
/* ハンバーガーメニュー非表示 */
#nav{display:none;}

/* トップへ */
#page_top{width:50px;height:50px;position:fixed;right:50px;bottom:50px;background:#fff;opacity:0.6;z-index:1000;}
#page_top a{position:relative;display:block;width:50px;height:50px;text-decoration:none;}
#page_top a::before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f106';font-size:25px;color:#0095F1;position:absolute;width:25px;height:25px;top:0;bottom:0;right:0;left:0;margin:auto;text-align:center;}

/* フッター */
footer{width:100%;height:50px;display:flex;justify-content:center;align-items:center;background-color:#f7f7f7;}
footer p{font-size:12px;}

/* タブレットサイズ */
@media screen and (max-width:1024px) {
  h2{font-size:18px;}
  p{font-size:14px;letter-spacing:0.2em;padding-left:0.2em;line-height:2em;}
  header{height:70px;}
  .header{height:70px;}
  #logo a{font-size:20px;}
  .hd-ul{display:none;}
  #nav{display:inherit;padding:0px;}
  .unshown{display:none;}
  #open{display:inline-block;width:25px;height:19px;vertical-align:middle;z-index:10;}
  #open span,#open span:before,#open span:after{position:absolute;height:3px;width:25px;border-radius:3px;background-color:#042F82;display:block;content:'';cursor:pointer;transition:0.5s;}
  #open span:before{bottom:-8px;}
  #open span:after{bottom:-16px;}
  #close{display:none;position:fixed;z-index:-3;top:0;left:0;width:100%;height:100%;opacity:0;transition:.5s ease-in-out;background-color:rgba(0,0,0);}
  #content{overflow:auto;position:fixed;top:0;left:0;z-index:2;width:100%;height:auto;background:#fff;transition:.5s ease-in-out;-webkit-transform:translateY(-105%);transform:translateY(-105%);}
  #input:checked ~ #close{display:block;opacity:0.5;z-index:1;}
  #input:checked ~ #content{-webkit-transform:translateY(70px);transform:translateY(0px);}
  #input:checked ~ #open span{background-color:#FFFFFF;transition:0.5s;}
  #input:checked ~ #open span:before{transform:rotate(45deg);transition:0.5s;background-color:#042F82;}
  #input:checked ~ #open span:after{bottom:-8px;transform:rotate(-45deg);transition:0.5s;background-color:#042F82;}
  #content ul{text-align:center;z-index:-1;padding:30px;padding-top:70px;list-style:none;}
  #content a{line-height:1.7em;display:flex;padding:20px;margin:10px;}
  #content a:hover{opacity:0.5;}
}

/* スマートフォンサイズ */
@media screen and (max-width:559px) {
  #page_top{right:20px;bottom:50px;}
}
